test.xml

<wsdl:definitions 
  
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" 
  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" 
  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" 
  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:wsa10="http://www.w3.org/2005/08/addressing" 
  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" 
  
  name="LiveSportsBS" targetNamespace="http://tempuri.org/">

    <wsdl:message name="ILiveSportsBS_Ping_InputMessage">
      <wsdl:part name="parameters" element="tns:Ping"/>
    </wsdl:message>
    <wsdl:message name="ILiveSportsBS_Ping_OutputMessage">
      <wsdl:part name="parameters" element="tns:PingResponse"/>
    </wsdl:message>
    <wsdl:message name="ILiveSportsBS_SystemAuthenticate_InputMessage">
      <wsdl:part name="parameters" element="tns:SystemAuthenticate"/>
    </wsdl:message>
    <wsdl:message name="ILiveSportsBS_SystemAuthenticate_OutputMessage">
      <wsdl:part name="parameters" element="tns:SystemAuthenticateResponse"/>
    </wsdl:message>
    <wsdl:message name="ILiveSportsBS_SystemAuthenticateByCulture_InputMessage">
      <wsdl:part name="parameters" element="tns:SystemAuthenticateByCulture"/>
    </wsdl:message>
    <wsdl:portType name="ILiveSportsBS">
      <wsdl:operation name="Ping">
        <wsdl:input wsaw:Action="http://tempuri.org/ILiveSportsBS/Ping" message="tns:ILiveSportsBS_Ping_InputMessage"/>
        <wsdl:output wsaw:Action="http://tempuri.org/ILiveSportsBS/PingResponse" message="tns:ILiveSportsBS_Ping_OutputMessage"/>
      </wsdl:operation>
      <wsdl:operation name="SystemAuthenticate">
        <wsdl:input wsaw:Action="http://tempuri.org/ILiveSportsBS/SystemAuthenticate" message="tns:ILiveSportsBS_SystemAuthenticate_InputMessage"/>
        <wsdl:output wsaw:Action="http://tempuri.org/ILiveSportsBS/SystemAuthenticateResponse" message="tns:ILiveSportsBS_SystemAuthenticate_OutputMessage"/>
      </wsdl:operation>
      <wsdl:operation name="SystemAuthenticateByCulture">
        <wsdl:input wsaw:Action="http://tempuri.org/ILiveSportsBS/SystemAuthenticateByCulture" message="tns:ILiveSportsBS_SystemAuthenticateByCulture_InputMessage"/>
        <wsdl:output wsaw:Action="http://tempuri.org/ILiveSportsBS/SystemAuthenticateByCultureResponse" message="tns:ILiveSportsBS_SystemAuthenticateByCulture_OutputMessage"/>
      </wsdl:operation>
      <wsdl:operation name="SystemValidateToken">
        <wsdl:input wsaw:Action="http://tempuri.org/ILiveSportsBS/SystemValidateToken" message="tns:ILiveSportsBS_SystemValidateToken_InputMessage"/>
        <wsdl:output wsaw:Action="http://tempuri.org/ILiveSportsBS/SystemValidateTokenResponse" message="tns:ILiveSportsBS_SystemValidateToken_OutputMessage"/>
      </wsdl:operation>
      <wsdl:operation name="SystemValidateCulture">
        <wsdl:input wsaw:Action="http://tempuri.org/ILiveSportsBS/SystemValidateCulture" message="tns:ILiveSportsBS_SystemValidateCulture_InputMessage"/>
        <wsdl:output wsaw:Action="http://tempuri.org/ILiveSportsBS/SystemValidateCultureResponse" message="tns:ILiveSportsBS_SystemValidateCulture_OutputMessage"/>
      </wsdl:operation>
      <wsdl:operation name="SystemAuthenticateWithExpire">
        <wsdl:input wsaw:Action="http://tempuri.org/ILiveSportsBS/SystemAuthenticateWithExpire" message="tns:ILiveSportsBS_SystemAuthenticateWithExpire_InputMessage"/>
        <wsdl:output wsaw:Action="http://tempuri.org/ILiveSportsBS/SystemAuthenticateWithExpireResponse" message="tns:ILiveSportsBS_SystemAuthenticateWithExpire_OutputMessage"/>
      </wsdl:operation>
      <wsdl:operation name="SystemAuthenticateByCultureWithExpire">
        <wsdl:input wsaw:Action="http://tempuri.org/ILiveSportsBS/SystemAuthenticateByCultureWithExpire" message="tns:ILiveSportsBS_SystemAuthenticateByCultureWithExpire_InputMessage"/>
        <wsdl:output wsaw:Action="http://tempuri.org/ILiveSportsBS/SystemAuthenticateByCultureWithExpireResponse" message="tns:ILiveSportsBS_SystemAuthenticateByCultureWithExpire_OutputMessage"/>
      </wsdl:operation>
      <wsdl:operation name="GetLiveSports">
        <wsdl:input wsaw:Action="http://tempuri.org/ILiveSportsBS/GetLiveSports" message="tns:ILiveSportsBS_GetLiveSports_InputMessage"/>
        <wsdl:output wsaw:Action="http://tempuri.org/ILiveSportsBS/GetLiveSportsResponse" message="tns:ILiveSportsBS_GetLiveSports_OutputMessage"/>
      </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:service name="LiveSportsBS">
      <wsdl:port name="BasicHttpBinding_ILiveSportsBS" binding="tns:BasicHttpBinding_ILiveSportsBS">
        <soap:address location="http://awswincomp/virtual/basic/LiveSportsBS.svc"/>
      </wsdl:port>
    </wsdl:service>
</wsdl:definitions>